h3,h4{margin: 0;}
a{text-decoration: none;}
.header {
	background: #FFFFFF url(../img/bg.jpg) repeat-x top;
}
ul{padding: 0;list-style: none;}
* { box-sizing:content-box ;}


.mainWrap {
	/*width: 100%;*/
	min-width: 320px;
	width: 1000px;
	margin: auto;
}

.topLine {
	border-top: 7px solid #5c307d;
}

.header .topWrap {
	height: 102px;
}

.header .logo {
	float: left;
	margin-top: 20px;
}

.search {
	float: right;
}

.header .search .version {
	padding: 16px 0 10px 0;
	text-align: right;
}

.header .search .version a {
	color: #4d1379;
   
}

.header .search .inp {
	height: 30px;
	width: 140px;
	border: 1px solid #b1b1b1;
	padding: 5px;
	float: left;
	box-sizing: border-box;
}

.header .search .searchbtn {
	background: #5c307d;
	height: 30px;
	padding: 0 8px;
	line-height: 29px;
	text-align: center;
	border: 0;
	text-decoration: none;
	/*  float: left;*/
	font-size: 16px;
	color: #fff;
	cursor: pointer;
	top: 0;
}

.header .search .abtn:hover {
	background: #000;
}

.header .menu {
	border-top: 1px solid #dedede;
	display: block;
	font-family: "arial black";
}
.menu .navbar{
	margin:0;
}
.header .menu li a {
	color: #000;
	border: 0;
	display: block;
	line-height: 42px;
	font-size: 15px;
	text-decoration: none;
	border-radius: 0;
}

.header .menu li a span {
	font-size: 1px;
	padding-left: 2px;
}

.anav {
	display: none;
}

.header .menu li:hover a {
	background: #5c307d;
	color: white;
}

.menu .subnav {
	background: #5c307d;
	width: 180px;
	position: absolute;
	top: 42px;
	padding: 5px 0;
	text-decoration: none;
	display: none;
	z-index: 2;
	display: none;
}
.menu .open{display: block;}
.menu .subnav li a {
	line-height: 38px;
	font-size: 14px;
	color: #fff;
	padding: 0 0 0 20px;
	text-decoration: none;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: white;
    background-color: transparent;
}
.navbar-collapse{padding: 0;}
.content {
    padding-bottom: 160px;
}
.content .topImg {
    text-align: center;
    background: #f3f3f3;
    overflow: hidden;
}
img {
    border: 0px;
    vertical-align: bottom;
}
.detailContent .col_1{width: 200px;float: left;    position: relative;}
.detailContent .leftNav {
    border-left: 12px solid #5c307d;
    position: relative;
    top: -34px;
    left: -12px;
    width: 100%;
    }
.detailContent .leftNav h3 {
    background: #5c307d;
    color: #fff;
    font-size: 22px;
    line-height: 68px;
    padding: 0 22px;
    margin-bottom: 0;
}
 .detailContent .navTotal{
    border-top: 1px solid #ddd;
    margin-top: 20px;
    display: block;
    padding-top: 0;
    margin-bottom: 0;
}
 .detailContent .navTotal li{
 	display: block;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    line-height: 22px;
    zoom: 1;
    position: relative;
    } 
 .detailContent .leftNav li ul li {
    border-bottom: 0;
    border-top: 1px solid #ddd;
    }
    .navbar{
   margin-bottom: 0;
   	border:0;
    }
.detailContent .leftNav li a {
    color: #22132d;
    display: block;
    padding: 1em 0 1em 22px;
    margin-right: 28px;
    zoom: 1;
    text-decoration: none;
}
.detailContent .leftNav li.current a {
    position: relative;
    border-left: 4px solid #ff9600;
    left: -4px;
    color: #5c307d;
}
.navbar-header{display: none;}

.detailContent .leftNav li i {
    position: absolute;
    font-size: 10px;
    color: #5c307d;
    border-left: 1px solid #ddd;
    padding: 1.5em 4px;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
   }
.detailContent .leftNav li.current i{background: #f7f7f7;}
.leftNav .leftSubnav{display: none;}
.detailContent .leftNav li.current ul{display: block;}
.detailContent .leftNav li ul {
    margin: 0;
    border: 0;
    background: #f7f7f7;
    position: relative;
    border-left: 4px solid #5c307d;
    left: -4px;
    width: 100%;
}
.detailContent .leftNav li.current ul{
	border-left: 4px solid #ff9600;
}
.leftNav .showNav{
	display: block;
}
.detailContent .leftNav li.current ul.hideNav{
	display: none;
}
.detailContent .leftNav .current ul li a, .detailContent .leftNav li ul li a {
    color: #22132d;
    font-size: 12px;
    padding: 11px 5px 11px 34px;
    border: 0;
    position: static;
    margin-right: 0;
    line-height: 18px;
}
.col_1 .flowmenu{
	width:196px;
	text-align: right;
	border-right: 4px solid #ddd;
	line-height: 32px;
	top:10px;
	margin-top: 10px;
	z-index: 999;
	position:absolute;
}
.col_1 .flowmenu span{
	padding-right: 20px;
	font-weight: bold;
}
.col_1 .flowmenu li{
	padding: 0 24px 0 0;
	color: #777;
	cursor: pointer;
}
.col_1 .flowmenu li a{color: #777;text-decoration: none;font-size: 12px;}
.col_1 .flowmenu li.current{
	position: relative;
	right: -8px;
	padding: 0;
	}
.col_1 .flowmenu li.current a{	color: #444;}
.col_1 .flowmenu li.current i{display: inline-block;}
.col_1 .flowmenu li i{
	margin-left: 19px;
	display: none;
}
.col_1 .flowmenu li .showiconf{display: inline-block;}
.detailContent .col_2{
    margin: 0 0 0 30px;
    width: 770px;
    float: left;
}
.detailContent .headerNav {
    padding-top: 20px; 
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
}
.hnav a {
    color: #999;
    font-size: 12px;
    text-decoration: none;
}
.detailContent .headerNav h1 {
   line-height: 16px;
    padding: 10px 0 10px;
    font-size: 28px;
    color: #5c307d;
}
.detailContent .mainContent .article {
    margin-right: 30px;
    width: 550px;
    float: left;
    font-size: 14px;
    line-height: 24px;
    color: #444;
}
.detailContent .mainContent .article h3{
    border-bottom: 1px solid #cccccc;
    font-size: 18px;
    color: #22132d;
    padding-bottom: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
	    
}
.content .mainContent .article p:first-child {
    padding-top: 0;
}
.content .mainContent .article p {
    margin: 0;
}	
.content .mainContent .article p.bottomblank {
   margin-bottom: 1.5em;
}	
.detailContent .col_3 {
    width: 190px;
    float:left;
}
.detailContent .relateLink h4 {
    font-size: 16px;
    color: #555;
    background: #f4f4f4;
    padding: 1.5em 0 0.75em 0;
    text-indent: 0.75em;
}
.detailContent .relateLink ul {
    margin-top: 10px;
    padding-left: 12px;
}
.detailContent .relateLink ul li {
    padding: 4px 0;
}
.detailContent .relateLink a {
    display: block;
    font-size: 12px;
    color: #777;
    zoom: 1;   
     text-decoration: none;
}
.detailContent .relateLink a i {
    float: right;

}
footer{clear: both;}
footer .footerWrap {
    background: #e0e0e0;
    padding: 40px 0;
}
footer .footerWrap li {
    width: 125px;
    float: left;
}
footer .footerWrap h4 {
    padding-bottom: 8px;
}
footer .footerWrap h4 a {
	text-decoration: none;
    font-size: 15px;
    color: #22132d;
}
footer .footerWrap a {
    color: #585858;
    display: block;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
}
footer .copyrights{
	background: #22132d;
    color: #a5a2a7;
    padding: 20px 0;
    line-height: 22px;
    font-size: 12px;
}
footer .copyrights .info {
    float: left;
}
footer .copyrights .info span {
    padding-right: 24px;

}
footer .copyrights .icp {
    float: right;
}
footer .copyrights .copy {
    color: #6f6a74;
    display: block;

}


/*****800px media******/
@media only screen and (max-width:768px ) {
	.mainWrap {width: 760px;}
	.header .menu{display: block;}
	.nav-tabs.nav-justified {
       width: 100%;
       border-bottom: 0;
    }
    .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
}
     .header .menu{border: 0;	} 
}

@media only screen and (max-width:800px ) {
	.mainWrap {width: 760px;}
	.navbar-header{display: none;}
	.collapse{display: block;}
	a{font-size: 14px;}
	.header .menu li a{font-size: 12px;}
	.content .topImg img {
    width: 100%;
    height: auto;
	}
	.detailContent .leftNav {
    top: -25px;
}
	.detailContent .col_1 {
    width: 160px;
}
	.detailContent .leftNav h3 {
    line-height: 50px;
    font-size: 18px;
}
	.detailContent .leftNav li i {
    padding: 1.4em 4px;
}
.col_1 .flowmenu{width: 156px;}
.detailContent .col_2 {
    margin: 0 0 0 20px;
    width: 580px;
}

.detailContent .headerNav h1 {
    font-size: 24px;
}
.content .mainContent .article {
    margin-right: 20px;
    width: 420px;
}
.detailContent .headerNav {
    padding-top: 12px;
    }
.detailContent .col_3 {
    width: 140px;
}
footer .footerWrap li {
    width: 190px;
    height: 200px;
}
footer .copyrights {
    text-align: center;
}
footer .copyrights .info {
    float: none;
    display: block;
}
footer .copyrights .icp {
    float: none;
    display: block;
}
}
	
@media only screen and (max-width: 640px) {
	.mainWrap {
		width: 100%;
	}
	.header .search .inp {
    border: 0;
    margin-left: 20px;
    height: 24px;
    width: 130px;
    margin-top: 5px;
}
.header .search .searchbtn{
	background: #22132d;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    margin-top: 5px;
}
	.subnav {
		display: none !important;
	}
	.header .menu li a span {
		display: none;
	}
	.header .menu li:hover a{
		color: black;
	}
	.header .menu li a{
		font-size: 15px;
	}
	.header .logo {
		float: none;
		margin: auto;
		display: block;
		position: absolute;
		top: 50px;
		left: 50%;
		margin-left: -100px;
	}
	.header .search {
		float: none;
		position: absolute;
		width: 100%;
		top: 0px;
		background: #5C307D;
	}
	.header .search .version {
		float: right;
		padding: 4px 30px 10px 0;
	}
	.header .search .version a {
		color: #fff;
		text-align: right;
	}
	.menu .subnav {
		display: none;
	}
	.header .menu .nav-tabs>li:hover .subnav {
		display: none;
	}
	.header .menu li:hover a {
		background: #fff;
	}
	.nav-tabs.nav-justified {
		padding-left: 0;
	}
	.nav-tabs.nav-justified>li>a {
		margin-bottom: 5px;
		text-align: left;
	}
	.anav {
		display: block;
        height: auto;
	}
	.header .topWrap {
		height: 130px;
	}
	.header .menu .navbar-header {
		display: block;
		line-height: 44px;
		font-size: 18px;
		cursor: pointer;
		background: gainsboro;
	}
	.header .menu .navbar-header a {
		color: black;
	}
	.header .menu .navbar-header .icon-bar {
		background-color: black;
	}
	.header .menu li {
		float: none;
		padding: 0;
		border-top: 1px solid #ddd;
		background: #fff;
		overflow: hidden;
	}
	.header .menu .navbar-collapse {
		padding: 0;
	}
	.nav-tabs.nav-justified > li {
    display: block;
    width: 100%;
}
.detailContent .col_1 {
    float: none;
    width: auto;
}
.navbar-default .edutoggle {
    border-color: #5c307d;
}
.detailContent .navTotal {
    margin-top: 0;
    }

.collapse {
    display: none;
}
.topImg{display:none;}
.detailContent .leftNav h3{display: none;}
.navbar-header{display: block;}
.detailContent .leftNav {
    top: -2px;
}
.leftNav .leftSubnav{display: none;}
.eduHeader{
    display: block;
    line-height: 44px;
    font-size: 18px;
    cursor: pointer;
    background: #5c307d;
}
.navbar-header .edubrand {
	color: white;
	height: auto;
}
.navbar-default .edutoggle:hover,.navbar-default .edutoggle:focus {
    background-color:#5c307d;
}
.content {
    padding-bottom: 50px;
}
.detailContent .leftNav li i {
    padding-left: 14px;
    padding-right: 14px;
}
.col_1 .flowmenu {
    display: none;
}
.detailContent .mainContent .article {
    margin-right: 30px;
    width: 430px;
    float: left;
}
}